
TwinCAT Project2/TrialLicense.tclrs
TwinCAT Project2.opensdf
TwinCAT Project2.sdf
TwinCAT Project2.v12.suo
TwinCAT Project2/_Boot/TwinCAT RT (x64)/CurrentConfig.xml
TwinCAT Project2/_Deployment/TwinCAT RT (x64)/Untitled2.pdb
TwinCAT Project2/_Deployment/TwinCAT RT (x64)/Untitled2.sys
